/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10pt;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background-color: #11100F;
	width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Global styles begin*/
p{font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
		color: #EEEEEE;
}
div.image-text {

}


}
div.text-rtf {

}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 36pt;
	line-height: 60pt;
	color: #EEEEEE;
	}
/*Global styles end*/

/*layout Begin*/
div.mainframe{display:grid; grid-template-columns: 40px 1fr 1fr 1fr 1fr 40px;
	max-width: 100vw;
 position: relative;

 grid-template-rows: 80px 738px 1fr 1fr 738px;}

item-a {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: flex-end
}
item-b {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: center;
}
item-c {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	max-width: 250px;
max-height: 720px


}
item-c2 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: start;
		max-width: 250px;

}
item-c3 {
		grid-column-start: 4;
			grid-column-end: 5;
			grid-row-start: 3;
			grid-row-end: 4;
			align-self: start;
			max-width: 250px;

}
item-c4 {
				grid-column-start: 5;
				grid-column-end: 6;
				grid-row-start: 3;
				grid-row-end: 4;
				align-self: start;
				max-width: 250px;
				}

/*layout end*/
